# Python
__pycache__/
*.pyc

# Env
.env

# ML models and artifacts
*.pkl
*.npy
ml/*.pkl
ml/*.npy
ml/*.csv

# Data files
data/*.csv

# Logs
*.log

# OS
.DS_Store
Thumbs.db
folders.txt
cprp_deep_technical_report.md
ml/CPRP_Phase2_Setup_Guide.docx
*.sqlite3
smartshop/backend/db.sqlite3
Optimizing CPRP Recommendation Architecture.md
cp-recommendation_presentation.pdf

# Documentations and reports (local only)
report/
research_paper/